*{
	padding:0;
	margin:0;
}
body{
	background-color: #f4f4f4;
}
/*头部*/
header .hea_top{
	width: 100%;
	height: 56px;
	background-color: #ffe300;
	position: relative;
	z-index: 1;
	min-width: 1220px;
}
.hea_top>a:first-child img{
	width: 120px;
	height: 20px;
}
.hea_top>a:nth-of-type(1){
	margin-left: 70px;
	margin-top: 16px;
	display: inline-block;
	float: left;
}
.hea_top .nav{
	width: 636px;
	margin: 0 auto;
}
.hea_top .nav .nav_uls{
	height: 56px;
	list-style-type: none;
	overflow: hidden;
}
.hea_top .nav_uls li{
	float: left;
	cursor: pointer;
}
.hea_top .nav_uls a{
	display: inline-block;
	width: 76px;
	height: 56px;
	text-decoration: none;
	color: black;
	line-height: 56px;
	text-align: center;
	font-size: 14px;
}
.hea_top .nav_uls li:nth-of-type(6) a{
	width: 104px;
}
.nav_uls li:first-child a{
	font-weight: bold;
}
.hea_top .nav_uls a:hover{
	color: #ffe300;
	background-color: #000000;
}
.nav_box{
	width: 636px;
	margin: 0 auto;
	position: relative;
}
ul{
	margin-bottom: 0;
}
.nav_box .find{
	width: 666px;
	height: 160px;
	cursor: pointer;
	position: absolute;
	left: 76px;
	background-color: white;
	border-radius: 0 0 5px 5px;
	display: none;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
}
.nav_box .find .find_uls{
	list-style: none;
	overflow: hidden;
	padding: 11px 18px 18px;
}
.nav_box .find .find_uls li{
	width: 90px;
	height: 28px;
	float: left;
	text-align: center;
	line-height: 28px;
	margin-top: 4px;
	cursor: pointer;
	position: relative;
}
.nav_box .find .find_uls li::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 16px;
	background-color: lightgray;
	top: 6px;
	right: 0;
}
.nav_box .find_uls li:nth-of-type(7)::before,
.nav_box .find_uls li:nth-of-type(14)::before{
	content: '';
	background-color:rgba(0,0,0,0);
}
.nav_box .find .find_uls a{
	display: inline-block;
	font-size: 14px;
	color: black;
	text-decoration: none;
	width: 55px;
	height: 28px;
	border-radius: 5px;
}
.nav_box .find .find_uls li:nth-of-type(8) a{
	width: 70px;
}
.nav_box .find .find_uls a:hover{
	background-color: #FFE300;
}
.find hr{
	margin-bottom: 14px;
}
.nav_box .find>a{
	font-size: 14px;
	color: black;
	text-decoration: none;
	margin-left: 32px;
}
.nav_box .find>a:hover{
	color: #d36f16;
}
.nav_box .position{
	width: 152px;
	height: 144px;
	list-style: none;
	background-color: white;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
	position: absolute;
	left: 228px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 6px 0;
	border-radius: 0 0 5px 5px;
	display: none;
}
.nav_box .position a{
	display: inline-block;
	width: 152px;
	height: 44px;
	color: black;
	text-decoration: none;
	line-height: 44px;
	box-sizing: border-box;
	padding: 0 20px;
}
.nav_box .position a:hover{
	background-color: #FFE300;
}
.nav_box .activity{
	width: 152px;
	height: 232px;
	list-style: none;
	background-color: white;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
	position: absolute;
	left: 304px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 6px 0;
	border-radius: 0 0 5px 5px;
	display: none;
}
.nav_box .activity a{
	display: inline-block;
	width: 152px;
	height: 44px;
	color: black;
	text-decoration: none;
	line-height: 44px;
	box-sizing: border-box;
	padding: 0 20px;
}
.nav_box .activity a:hover{
	background-color: #FFE300;
}
.nav_box .material{
	width: 152px;
	height: 188px;
	list-style: none;
	background-color: white;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
	position: absolute;
	left: 380px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 6px 0;
	border-radius: 0 0 5px 5px;
	display: none;
}
.nav_box .material a{
	display: inline-block;
	width: 152px;
	height: 44px;
	color: black;
	text-decoration: none;
	line-height: 44px;
	box-sizing: border-box;
	padding: 0 20px;
}
.nav_box .material a:hover{
	background-color: #FFE300;
}
.nav_box .course{
	width: 152px;
	height: 100px;
	list-style: none;
	background-color: white;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
	position: absolute;
	left: 484px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 6px 0;
	border-radius: 0 0 5px 5px;
	display: none;
}
.nav_box .course a{
	display: inline-block;
	width: 152px;
	height: 44px;
	color: black;
	text-decoration: none;
	line-height: 44px;
	box-sizing: border-box;
	padding: 0 20px;
}
.nav_box .course a:hover{
	background-color: #FFE300;
}
.nav_box .more{
	width: 152px;
	height: 188px;
	list-style: none;
	background-color: white;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
	position: absolute;
	left: 560px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 6px 0;
	border-radius: 0 0 5px 5px;
	display: none;
}
.nav_box .more a{
	display: inline-block;
	width: 152px;
	height: 44px;
	color: black;
	text-decoration: none;
	line-height: 44px;
	box-sizing: border-box;
	padding: 0 20px;
}
.nav_box .more a:hover{
	background-color: #FFE300;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.hea_top .search{
	position: absolute;
	top: 0;
	right: 250px;
	cursor: pointer;
}
.hea_top .search a{
	width: 60px;
	height: 56px;
	display: inline-block;
	text-align: center;
	color: #282828;
}
.hea_top .search a .sea{
	width: 22px;
	height: 22px;
	margin-top: 16px;
}
.hea_top .search a:hover{
	color: #FFE300;
	background-color: black;
}
.hea_top .cloud{
	position: absolute;
	top: 0;
	right: 190px;
}
.hea_top .cloud a{
	width: 60px;
	height: 56px;
	display: inline-block;
	text-align: center;
	color: #282828;
}
.hea_top .cloud a .sea{
	width: 26px;
	height: 26px;
	margin-top: 14px;
}
.hea_top .cloud a:hover{
	color: #FFE300;
	background-color: black;
}
.hea_top>a:nth-of-type(2){
	display: inline-block;
	width: 49px;
	height: 56px;
	font-size: 14px;
	text-decoration: none;
	line-height: 56px;
	position: absolute;
	top: 0;
	right: 132px;
	color: black;
}
.hea_top>a:nth-of-type(2)::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 12px;
	background-color: black;
	right: 0;
	top: 22px;
}
.hea_top>a:nth-of-type(3){
	display: inline-block;
	height: 56px;
	font-size: 14px;
	text-decoration: none;
	line-height: 56px;
	position: absolute;
	top: 0;
	right: 84px;
	color: black;
}
.hea_top .sousuo{
	width: 540px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -270px;
	display: none;
}
.hea_top .sousuo .ss1{
	height: 56px;
	position: relative;
}
.hea_top .close{
	position: absolute;
	top: 17px;
	left: 0px;
	cursor: pointer;
}
.hea_top .inp{
	position: absolute;
	top: 0;
	left: 24px;
	height: 56px;
	width: 500px;
	border: none;
	box-sizing: border-box;
	padding: 0 16px;
	background-color: rgba(0,0,0,0);
	outline: none;
}
.hea_top .search2{
	position: absolute;
	top: 18px;
	right: 0;
	cursor: pointer;
}
.hea_top .search2 .sea2{
	width: 20px;
	height: 20px;
}
.hea_top .searchbox{
	width: 540px;
	background-color: white;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
}
.hea_top .searchbox p{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-size: 12px;
	color: #bbb;
}
.hea_top .searchbox a{
	display: inline-block;
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	color: black;
	padding: 0 20px;
	box-sizing: border-box;
}
.hea_top .searchbox a:hover{
	background-color:rgba(128,128,128,0.1) ;
}
.hea_top .zbox{
	width: 500px;
	height: 495px;
	position: fixed;
	top: 50%;
	margin-top: -247.5px;
	left: 50%;
	margin-left: -240px;
	display: none;
}
.zbox .box2{
	width: 400px;
	height: 495px;
	margin: 0 auto;
	background-color: white;
	position: relative;
	padding: 30px 32px;
	box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	/* display: none; */
}
.zbox .box2 .b2_uls{
	list-style: none;
	overflow: hidden;
	border-bottom: 1px solid lightgrey;
}
.zbox .box2 .b2_uls li{
	color: #999999;
	float: left;
	margin-bottom: -1px;
	margin-right: 30px;
	padding-bottom: 30px;
	cursor: pointer;
	font-weight: 500;
}
.zbox .box2 .b2_uls li:nth-of-type(3){
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 10px;
}
.zbox .box2 .b2_uls li:nth-of-type(3):hover{
	opacity: 0.8;
}
.zbox .box2 .b2_uls li.lis{
	border-bottom: 3px solid rgba(0,0,0,0);
}
.zbox .box2 .b2_uls li.lis:hover{
	color: black;
	border-bottom: 3px solid black;
}
.zbox .box2 .b2_uls li.lis1{
	color: black;
	border-bottom: 3px solid black;
}
.zbox .box2 .b2_box1{
	margin-top: 44px;
	/* display: none; */
}
.zbox .box2 .b2_box1 input.inp1,.zbox .box2 .b2_box1 input.inp3{
	width: 336px;
	height: 42px;
	padding-left: 20px;
    padding-right: 20px;
    color: #666666;
	font-size: 14px;
	border: 1px solid #dddddd;
	background-color: #f4f4f4;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 20px;
	outline: none;
}
.zbox .box2 .b2_box1 input.inp3{
	border: none;
}
.zbox .box2 .b2_boxy{
	height: 166px;
	margin-top: 44px;
	margin-bottom: 20px;
	position: relative;
	display: none;
}
.zbox .box2 .b2_boxy .sjh{
	overflow: hidden;
}
.zbox .box2 .b2_boxy .sjh .j86{
	width: 70px;
	height: 42px;
	line-height: 42px;
	padding-left: 8px;
	border-radius: 4px 0 0 4px;
	color: #666666;
	font-size: 14px;
	background-color: #f4f4f4;
	position: relative;
	float: left;
	border: 1px solid darkgray;
	cursor: pointer;
}
.zbox .box2 .b2_boxy .sjh .j86::after{
	content: '';
	width: 10px;
	height: 10px;
	background-color: gray;
	transform: rotate(45deg);
	position: absolute;
	top: 13px;
	right: 14px;
}
.zbox .box2 .b2_boxy .sjh .j86::before{
	content: '';
	width: 14px;
	height: 10px;
	background-color: #f4f4f4;
	position: absolute;
	top: 9px;
	right: 12px;
}
.zbox .box2 .b2_boxy .sjh input{
	float: left;
	width: 214px;
	height: 42px;
	border-radius: 0 4px 4px 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #666666;
	font-size: 14px;
	background-color: #f4f4f4;
	border: 1px solid darkgray;
	border-left: 0;
	outline: none;
}
.zbox .box2 .b2_boxy .sjh ul{
	list-style: none;
	width: 334px;
	background-color: white;
	padding: 0 26px;
	float: left;
	border-radius: 4px;
	position: absolute;
	top: 46px;
	box-sizing: border-box;
	z-index: 10;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	display: none;
}
.zbox .box2 .b2_boxy .sjh ul li{
	font-size: 14px;
	width: 274px;
	height: 41px;
	line-height: 41px;
	border-bottom: 1px solid lightgray;
	overflow: hidden;
	cursor: pointer;
}
.zbox .box2 .b2_boxy .sjh ul li span{
	float: right;
}
.zbox .box2 .b2_boxy .hdjs{
	width: 336px;
	height: 32px;
	background-color: #f4f4f4;
	font-size: 12px;
	line-height: 32px;
	margin: 20px 0;
	cursor: pointer;
}	
.zbox .box2 .b2_boxy .hdjs span{
	display: inline-block;
	background-color: white;
	box-sizing: border-box;
	border: 1px solid darkgrey;
	width: 40px;
	margin-right: 64px;
	text-align: center;
}
.zbox .box2 .b2_boxy input{
	width: 336px;
	height: 42px;
	border-radius:4px;
	color:darkgray;
	font-size: 14px;
	background-color: #f4f4f4;
	border: 0;
	outline: none;
}
.zbox .box2 .b2_box2{
	overflow: hidden;
}
.zbox .box2 .b2_box2 input.inp4{
	position: relative;
	top: 2px;
	width: 14px;
    height: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	background: url(../img/act/checkbox.svg)no-repeat top center;
	cursor: pointer;
	margin-right: 6px;
	outline: none;
}
.zbox .box2 .b2_box2 input.inp4:checked{
	background: url(../img/act/checkboxed.svg)no-repeat top center;
}
.zbox .box2 .b2_box2 label{
	font-size: 14px;
}
.zbox .box2 .b2_box2 .uls{
	list-style: none;
	overflow: hidden;
	float: right;
}
.zbox .box2 .b2_box2 .uls li{
	float: left;
	position: relative;
}
.zbox .box2 .b2_box2 .uls li>a{
	text-decoration: none;
	font-size: 14px;
	color: darkgray;
	margin-left: 24px;
}
.zbox .box2 .b2_box2 .uls li>a:hover{
	color: black;
}
.zbox .box2 .b2_box2 .uls li:nth-of-type(1)::before{
	content: '';
	width: 1px;
	height: 14px;
	background-color: darkgray;
	position: absolute;
	right: -14px;
	top: 5px;
}
.zbox .box2 .b2_box3{
	margin-top: 60px;
}
.zbox .box2 .b2_box3 p{
	text-align: center;
	font-size: 14px;
	color: darkgray;
	margin-bottom: 15px;
}
.zbox .box2 .b2_box3 .uls{
	list-style: none;
	overflow: hidden;
	display: inline-block;
	margin-left: 80px;
}
.zbox .box2 .b2_box3 .uls li{
	float: left;
	width: 42px;
	height: 42px;
	background-color: lightgray;
	border-radius: 50%;
	margin-right: 26px;
	cursor: pointer;
}
.zbox .box2 .b2_box3 .uls li img{
	width: 24px;
	margin: 10px 0 0 8px;
}
.zbox .box2 .b2_box3 .uls li:nth-of-type(3) img{
	width: 20px;
	margin-left: 11px;
}
.zbox .box2 .b2_box3 .uls li:nth-of-type(1):hover{
	background-color: #80d640;
}
.zbox .box2 .b2_box3 .uls li:nth-of-type(2):hover{
	background-color: red;
}
.zbox .box2 .b2_box3 .uls li:nth-of-type(3):hover{
	background-color: dodgerblue;
}
.zbox .weima{
	width: 400px;
    height: 495px;
	margin: 0 auto;
    background-color: white;
    position: relative;
    padding: 30px 32px;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
	display: none;
}

.zbox .weima .p1{
	font-weight: 500;
	padding-bottom: 20px;
	border-bottom: 1px solid gainsboro;
}
.zbox .weima span{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.zbox .weima>img{
	width: 216px;
	margin-top: 15px;
	margin-left: 60px;
	margin-bottom: 6px;
}
.zbox .weima .p2{
	font-size: 13px;
	font-weight: 400;
	color: darkgray;
	text-align: center;
	margin-bottom: 6px;
}
.zbox .weima .uls{
	margin-top: 56px;
	list-style: none;
	overflow: hidden;
	width: 170px;
	margin-left: auto;
	margin-right: auto;
}
.zbox .weima .uls li{
	float: left;
	padding: 0 11px;
	position: relative;
}
.zbox .weima .uls li:nth-of-type(1)::before{
	content: '';
	width: 1px;
	height: 14px;
	background-color: darkgray;
	position: absolute;
	right: 0;
	top: 4px;
}
.zbox .weima .uls li a{
	font-size: ;
	text-decoration: none;
	font-size: 14px;
	color: darkgrey;
}
.zbox .weima .uls li a:hover{
	color: black;
}
.zbox>span{
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: rgba(0,0,0,0.4);
	border-radius: 50%;
	background: url(../img/act/wclosebtn.png) center no-repeat #222;
    cursor: pointer;
    position: absolute;
	top: 0;
	right: 12px;
}
			
	/*下面部分*/		
.act_tou{
	width: 100%;
	min-width: 1220px;
	height: 56px;
	background-color: white;
	border-bottom: 1px solid #EEEEEE;
	z-index: 10;
	/* position: fixed; */
}
.act_tou .act_one_ul{
	width: 564px;
	height: 56px;
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
}
.act_tou .act_one_ul>li{
	width: 64px;
	height: 56px;
	float: left;
	margin-left: 40px;
	font-size:16px;
	line-height: 56px;
	color: #a299b2;
}
.act_tou .act_one_ul .act_one_li{
	color: #282828;
	border-bottom: 2px solid #282828;
}
.act_tou .act_one_ul>li:hover{
	color: #282828;
	border-bottom: 2px solid #282828;
	cursor: pointer;
}
.act_centent_one{
	min-width: 1200px;
	margin: 20px auto 0;
}
.act_centent_one .act_card{
	width:1150px;
	margin: 20px auto -20px;
	overflow: hidden;	
}
.act_card .act_card_ul{
	list-style: none;
}
.act_card .act_card_ul>li{
	width: 555px;
	float: left;
	border-radius: 4px;
	margin-bottom: 20px;
	margin-left: 20px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.act_card .act_card_ul .act_card_picture>img{
	border-radius: 4px 4px 0 0;
	vertical-align: middle;
	border: 0;
	width: 555px;
}
.act_card .act_card_picture>img:hover{
	opacity: 0.8;
}
.act_card_ul .act_card_wrap{
	padding: 20px;
	border-bottom: 1px solid #f2f2f2;
}
.act_card_ul .act_card_wrap .act_card_text{
	color: #333333;
	position: relative;
}
.act_card_ul.act_card_wrap .act_card_text .act_card_title{
	font-size: 16px;
	font-weight: normal;
}
.act_card_li .act_card_wrap .act_card_title p{
	max-width: 324px;
}
.act_card_ul .act_card_li .act_card_wrap .act_card_title p{
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default;
}
.act_card_ul .act_card_li .act_card_wrap .act_card_t{
	height: 21px;
	padding-top: 14px;
	color: #AAAAAA;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-top: -10px;
}
.act_card_ul .act_card_li .act_card_wrap .act_card_s{
	background-color: #ffba00;
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	float: right;
	line-height: 32px;
	padding: 0 20px;
	color: #FFFFFF;
	position: absolute;
	right: -20px;
	top: 0;
	margin-top: -10px;
}
.act_card_ul .act_card_li .act_card_wrap .act_card_s::before{
	content: "";
	display: block;
	position: absolute;
	border: 16px solid transparent;
	border-left: 10px solid #FFFFFF;
	left: 0;
}
.act_in_wrap{
	padding: 20px;
}
.act_card_time{
	padding-left: 24px;
	background: url(../img/act/card-shijian.svg)left center no-repeat;
	float: left;
	color:#aaaaaa;
	font-size: 12px;
	cursor: default;
}
.act_card_ul .act_card_li .act_card_partake{
	float: right;
	margin-left: 15px;
}
.act_card_partake{
	background-repeat: no-repeat;
	color: #AAAAAA;
	font-size: 12px;
	cursor: default;
	padding-left: 24px;
	background-image: url(../img/act/card-liulan.svg);
	background-position: 0 center;
}
.act_card_ul .act_card_li .act_card_parone{
	float: right;
	margin-left: 15px;
}
.act_card_parone{
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0 center;
	background-image: url(../img/act/zuopin.svg);
	color: #AAAAAA;
	font-size: 12px;
	cursor: default;
}
.act_card_ul .act_card_li .act_card_partwo{
	float: right;
	margin-left: 15px;
}
.act_card_partwo{
	background-repeat: no-repeat;
	padding-left: 20px;
	background-image: url(../img/act/canyuzhe.svg);
	background-position: 0 center;
	color: #AAAAAA;
	font-size: 12px;
	cursor: default;
}
.act_card_ul .act_card_li .act_card_parthree{
		float: right;
		margin-left: 20px;
	}
.act_card_parthree{
		background-repeat: no-repeat;
		padding-left: 24px;
		background-image: url(../img/act/zan.svg);
		background-size: 16px 16px;
		background-position: 0 center;
		color: #AAAAAA;
		font-size: 12px;
		cursor: default;
	}
.act_card_ul .act_card_li .act_mark{
	height: 32px;
	color: #FFFFFF;
	line-height: 32px;
	text-align: center;
	padding: 0 10px;
	font-size: 12px;
	background: rgba(0,0,0,0.6);
	border-radius: 4px 0 4px 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.fy_first{
	margin-top: 40px;					
}
/* .fy_clear{
	clear: both;
} */
#fy_biu #fy_laypage{
	text-align: center;
}
#fy_laypage{
	width: 620px;
	height: 40px;
	color:#666666;
}
.fy_clear .fy_default{
	min-width: 620px;
	margin:0 auto;
	position: relative;
}
.fy_default span{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 10px;
	line-height: 40px;
	text-align: center;	
	background:#FFFFFF;
}
.fy_default>p{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 10px;
	line-height: 40px;
	text-align: center;
	background:#FFFFFF;
}
.fy_default .fy_curr{
	font-weight: normal;
	color: #333333;
	background-color: #FFE300;
	border-radius: 4px;
	border: 1px solid #FFE300;
}
.fy_default>p:hover{
	background-color: #FFE300;
	cursor: pointer;
}
.fy_default #fy_one:hover{
	background-color: #FFE300;
	cursor: pointer;
}
.fy_default .fy_left{
	display: none;
}
.foot{
	width: 100%;
	height: 230px;
	background: #282828;
	color: #666666;
	display: block;
	position: relative;
	margin-top: 60px;
}
.foot_wrap{
	width: 1130px;
	margin: 0 auto;
}
.foot .foot_wrap .foot_warp_top{
	height: 130px;
	border-bottom: 1px solid #333333;
}
.foot_warp_top_l{
	width: 960px;
	height: 130px;
	float: left;
}
.foot_warp_top_r {
	width:90px;
	float: left;
	margin-top: 52px;
	margin-left: 80px;
}
.foot_warp_top_l>p{
	width: 72px;
	height: 20px;
	float: left;
	margin-top: 50px;
	margin-left: 10px;
}
.foot_warp_top_l p:hover{
	color: #999999;
	cursor: pointer;
}
.foot_warp_top_l .foot_l_mobile:before{
	content:"" ;
	display: inline-block;
	background: url(../img/act/footer-mobile.svg)no-repeat;
	width: 14px;
	height: 23px;
	vertical-align: middle;
	margin-right: 5px;
}
.foot_warp_top_l  .foot_l{
	position: absolute;
	background: url(../img/act/footer-mobile-code.png) no-repeat;
	width: 122px;
	height: 131px;
	margin-left: -90px;
	margin-top:-136px;
}
.foot_l{
	display: none;
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_l .foot_l_mobile:hover i{
	display:inline-block
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_r .foot_weixin{
	background-position: 0 0;
	width: 25px;
	height: 21px;
	position: relative;
	background: url(../img/act/footer-share-weixin.svg);
	display: inline-block;
	background-repeat: no-repeat;
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_r .foot_weixin:hover{
	cursor: pointer;
	background: url(../img/act/footer-share-weixinhover.svg);
	background-repeat: no-repeat;
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_r .foot_weixin:hover i{
	display: block;
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_r .foot_weixin .foot_r:hover{
	display: inline-block;
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_r .foot_weixin .foot_r{
	position: absolute;
	border-radius: 4px;
	background: url(../img/act/footer-weixin-code.jpg)no-repeat;
	width: 110px;
	height: 110px;
	bottom:44px;
	right: -36px;
	display: none;
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_r .foot_weixin .foot_r:before{
	content: "";
	border-top: 10px solid #FFFFFF;
	border-right: 10px solid transparent;
	border-bottom: none;
	border-left: 10px solid transparent;
	position: absolute;
	bottom: -10px ;
	left: 50%;
	margin-left: -10px;
	display: block;
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_r .foot_weibo{
	width: 26px;
	height: 21px;
	background: url(../img/act/footer-share-weibo.svg);
	display: inline-block;
	background-repeat: no-repeat;
	margin-left: 20px;
}
.foot .foot_wrap .foot_warp_top .foot_warp_top_r .foot_weibo:hover{
	cursor: pointer;
	background: url(../img/act/footer-share-weibohover.svg);
	background-repeat: no-repeat;
}
.foot_warp_box{
	height: 100px;
}
.foot_warp_box .foot_ulis{
	width: 1130px;
	list-style: none;
	overflow: hidden;
}
.foot_warp_box .foot_ulis>li{
	float: left;
	margin-left: 40px;
	margin-top: 8px;
	font-size: 12px;
	cursor: pointer;
	margin-left: 46px;
}
.foot_warp_box .foot_ulis>li:nth-of-type(1),.foot_warp_box .foot_ulis>li:nth-of-type(6){
	margin-left: 10px;
}
.foot_warp_box .foot_ulis>li img{
	margin: 0 -19px;
	position: absolute;
}
.foot_warp_box .foot_ulis li:before{
	content: "";
	width: 1px;
	height: 12px;
	background: #666666;
	position: absolute;
	margin-left: -26px;
	margin-top: 2px;
}
.foot_warp_box .foot_ulis .foot_li_one:before{
	content: "";
	width: 1px;
	height: 12px;
	background: #282828;
	position: absolute;
	margin-left: -20px;
}


.right_fanhui{
		width: 50px;
		height: 50px;
		background-color: #DDDDDD;
		background-image: url(../img/act/jiantou.png);
		background-repeat: no-repeat;
		position: fixed;
		background-position: center;
		border-radius: 4px;
		left: 50%;
		margin-left: 600px;
		display: none;
		
	}
.right_fanhui:hover{
		background-color: #DDDDDD;
		background-image: url(../img/act/jiantou%20hover.png);
		background-repeat: no-repeat;
		background-position: center;
	}